.flappeo {
	width: 35px;
	height: 35px;
	background-image: url('../image/flappeo.gif');
	background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    pointer-events: auto;
}

.flappeo-clicked {
    animation-name: flappeo-clicked;
    animation-duration: 1s;
	animation-iteration-count: forwards;
    animation-timing-function: linear;
    transition: 5s all;
    width: 0;
    height: 0;
}

.flappeo-hint {
    position: relative;
    transform: scaleX(-1) translateX(100%);
    z-index: 10;
    top: 200px;
    left: 1500px;
}

.flappeo-hint-bubble {
    animation-name: hint-bubble-floating;
    animation-duration: 4s;
	animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.flappeo-hint-bubble > * {
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.25);
}

.flappeo-hint-text-bubble {
    text-shadow: 1px 1px rgba(255, 255, 255);
    color: #000000;
    transform: scaleX(-1);
    padding: 10px;
    animation-duration: 0.4s;
    animation-delay: 11s;
}

.flappeo-hint-text-bubble, .flappeo-hint-small-bubble-1, .flappeo-hint-small-bubble-2 {
    background-color: #FFFFFF;
    animation-name: hint-bubble-disappear;
	animation-iteration-count: forwards;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.flappeo-hint-small-bubble-1, .flappeo-hint-small-bubble-2, .flappeo-hint-bubble, .flappeo {
    position: absolute;
}

.flappeo-hint-small-bubble-1 {
    width: 10px;
    height: 10px;
    top: -31px;
    left: 20px;
    animation-duration: 0.2s;
    animation-delay: 10s;
}

.flappeo-hint-small-bubble-2 {
    width: 15px;
    height: 15px;
    top: -18px;
    animation-duration: 0.3s;
    animation-delay: 10.5s;
}

#flappeo-playground {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

@keyframes hint-bubble-disappear {
    100% {opacity: 0}
}

@keyframes hint-bubble-floating {
    25% {transform: skewY(1deg) skewX(-1deg) rotate(-2deg) rotateX(1deg) scale(0.98) translateX(2px) translateY(-2px)}
    50% {transform: skewY(0deg) skewX(1deg) rotate(1deg) rotateX(-1deg) scale(1.02) translateX(-2px) translateY(1px)}
    75% {transform: skewY(-1deg) skewX(0deg) rotate(-1deg) rotateX(1deg) scale(0.98) translateX(-1px) translateY(2px)}
}

@keyframes flappeo-clicked {
    100% {top: calc(100% + 35px)}
}